<div class="product-container">
  <div class="card-products" *ngFor="let item of products">
    <div class="img-container">
      <img class="img-responsive" src="{{item.image}}">
    </div>

    <hr>
    <div class="detail-products">
      <span class="title-products">{{item.name}}</span>
      <span class="price-products">S/ {{item.price}}</span>
      <div class="box-products">
        <button class="button-products">-</button>
        <input class="input-products" value={{cant}}>
        <button class="button-products" >+</button>
      </div>
    </div>
  </div>
</div>


