<header>
    <img src="../../../assets/logo2.png">
    <nav>
        <ul>
            <li *ngFor="let data of navData">
                <a [routerLink]="[data.routeLink]">
                    <!--<i [class]="data.icon"></i>-->
                    <span>{{data.label}}</span>
                </a>
            </li>
        </ul>
    </nav>
    <span class="containerUser">
        <i class="fi fi-rr-user"></i>
        <mat-icon>account_circle</mat-icon>
        <p>{{name}}</p>
    </span>
</header>
<router-outlet></router-outlet>
